<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manage Food Hana Shop</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/images/logo/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="~/Content/css/animate-3.7.0.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome-4.7.0.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="~/Content/css/owl-carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/style/pop-up-message-out-of-stock.css" />
    <link rel="stylesheet" href="~/Content/style/style-avt-user.css">
    <link rel="stylesheet" href="~/Content/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Content/style/templatemo-style.css">

</head>
<body id="reportsPage">



@Html.Partial("~/Views/Shared/header.cshtml")


<!-- Banner Area Starts -->
<section class="banner-area banner-area2 blog-page text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1><i>Manage Hana Shop</i></h1>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End -->

@RenderBody();

<!-- Footer Area Starts -->
@Html.Partial("~/Views/Shared/footer.cshtml")
<!-- Footer Area End -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/Content/js/vendor/jquery.datetimepicker.full.min.js"></script>
<script src="~/Content/js/vendor/jquery.nice-select.min.js"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/moment.min.js"></script>
<script src="js/Chart.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/tooplate-scripts.js"></script>
</body>
</html>