<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="~/assets/images/logo/favicon.png" type="image/x-icon">
    <title>@ViewBag.Title</title>
</head>
<body>
    <!-- Banner Area Starts -->
    <section class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4>the most interesting food in the world</h4>
                    <h1>
                        Discover the <span class="prime-color">flavors</span><br>
                        <span class="style-change">of <span class="prime-color">Hana</span> Shop</span>
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    @Html.Partial("~/Views/Shared/header.cshtml")
    <div>
        @RenderBody()
    </div>
    @Html.Partial("~/Views/Shared/footer.cshtml")

    <!-- Load Facebook SDK for JavaScript -->
    <script>

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="107263914252810">
    </div>

</body>
</html>
